/*****************************SELECTOR*****************************************/
*{
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Bai Jamjuree', sans-serif;

}

p{
  color: hsl(201, 11%, 66%);
}

h3{
  margin: 50px 0 10px 0;
}



/*****************************CLASS SELECTOR*****************************************/

.main-top-container{
  background-image: url("images/bg-header-desktop.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.top-header-content{
  text-align: center;
  padding: 120px;
  line-height: 2;
  width: 35%;
  margin: auto;
}

.button{
  display: inline-block;
  text-decoration: none;
  padding: 10px 25px;
  border-radius: 25px;
  margin-top: 20px;
  margin: 20px 5px;
  box-shadow: 0 2px 2px 2px hsl(245, 75%, 52%, 0.25);
}

.button:hover {
  opacity: 0.8;
  transition: 0.2s linear;
}

.button:active {
  opacity: 1;
}

.btn-primary{
  background-color: hsl(171, 66%, 44%);
  color: white;

}

.btn-secondary{
  background-color: hsl(233, 100%, 69%);
  color: white;

}

.top-content{
  width: 40%;
  text-align: center;
  line-height: 2;
  margin: auto;
}

.middle-content{
  margin: 100px auto;
  display: flex;
  /* align-items: center; */
}


.middle-description{
  flex: 0.6;
  line-height: 2;
  padding: 0 100px;
}

.middle-content2{
  text-align: center;
  margin: auto;

}

.middle-description2{
  width: 40%;
  margin: 50px auto;
  line-height: 2;

}

.bottom-content{
  text-align: center;
  line-height: 2;
}

.bottom-content2{
  display: flex;
  margin: 100px auto;
  justify-content: space-evenly;
  text-align: center;
  line-height: 2;
}

.blacklists,
.snippets,
.preview{
  width: 23%;
}

.logo-bottom{
  display: flex;
  margin: 0 auto 100px auto;
  justify-content: space-evenly;
}

.bottom-content-last{
  text-align: center;
  line-height: 2;
  width: 40%;
  margin: auto;
}

footer{
  background-color: rgba(238, 238, 238, 0.808);
  margin-top: 50px;
}

.footer-content{
  display: grid;
  align-items: center;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(4, 1fr);
  margin: 0 auto;
  text-decoration: none;

}

.faqs,
.contact-us,
.privacy-policy,
.press-kit,
.install-guide{
  text-decoration: none;
}

.faqs{
  grid-column: 2;
  grid-row: 2;

}

.contact-us{
  grid-column: 2;
  grid-row: 3;
}

.privacy-policy{
  grid-column: 3;
  grid-row: 2;

}

.press-kit{
  grid-column: 3;
  grid-row: 3;

}

.install-guide{
  grid-column: 4;
  grid-row: 2;

}

.logo-bottom2{
  transform: scale(50%);
  grid-column: 1;
  grid-row: 1/5;
}

.footer-social-media{
  grid-column: 6;
  grid-row: 1/5;
}

footer a:hover{
  font-size: 1.25rem;
  transition: 1.5s;
}

.footer-social-media img:hover{
  transform: rotate(360deg) scale(130%);
  transition: 1s;
}
/*****************************Media Quaries*****************************************/
@media screen and (max-width:620px) {

  .main-top-container{
    background-image: url("images/bg-header-mobile.png");
    background-repeat: no-repeat;
    background-size: contain;
  }

  .top-header-content{
    display: flex;
    flex-direction: column;
    width: 55%;

  }

  .top-content{
    display: flex;
    flex-direction: column;
    width: 55%;
  }

  .middle-content{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 90%;
  }

  .img-computer{
    left: 1px;
    align-self: center;
    width: 300px;
    height: 300px;
  }

  .middle-content2{
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .middle-description2{
    display: flex;
    flex-direction: column;
    width: 55%;
  }

  .bottom-content{
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 55%;
  }

  .bottom-content-last {
    display: flex;
    flex-direction: column;
    width: 55%;
}

  .bottom-content2{
    display: flex;
    flex-direction: column;
    align-items: center;

  }

  .blacklists,
  .snippets,
  .preview{
    width: 55%;
    margin: 10px auto;
  }

  .logo-bottom{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .logo-bottom img{
    margin: 50px auto;
  }

  .footer-content{
    display: flex;
    flex-direction: column;
  }

  .footer-content a{
    margin: 10px auto;
  }


}




/*****************************IMG CLASS SELECTOR*****************************************/
.bg-desktop{
  position: absolute;
  width: 100%
}

.logo{
  margin-bottom: 30px;
}

.img-computer{
  position: relative;
  right: 30px;
}

.img-devices{
  display: inline-block;
}

.footer-social-media img{
  margin: 16px;
}
